.cart{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart button{
  font-family: 'Josefin Sans';
  padding: 6px;
  background-color: #151515;
  color: #fff;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
}

.cart .trash-button{
  font-family: 'Josefin Sans';
  padding: 6px;
  background-color: #d50000;
  color: #fff;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms ease;
  max-height: 28px;
}

.trash-button:hover{
  background-color: #ff2828;
}

.cart button img{
  filter: invert(100%);
  max-width: 15px;
}

.cart ul{
  width: 100%;
}

.cart li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-top: #dedede 2px solid;
  
  max-width: 900px;
  margin: auto;
}

.cart li p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart .product-image{
  background-color: #dedede;
  min-height: 80px;
  min-width: 80px;
  border-radius: 5px;
}