$black: #151515;
$white: #fff;

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);
  z-index: 999;
}

.logo{
  font-family: 'Grand Hotel';
  font-weight: 400;
}

.cartButton{
  background: url('https://i.ibb.co/rc4JM92/local-mall-FILL0-wght400-GRAD0-opsz24.png');
  background-size: cover;
  height: 25px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

}

.cartContainer{
  display: flex;
  justify-content: end;
  align-items: end;
  font-family: 'Josefin Sans';
  gap: 5px;
  flex: 1;
}

nav>a , nav>button{
  flex: 1;
  display: flex;
  align-items: center;
}

nav{
  >a{
    justify-content: center;
  }
  >button:first-of-type{
    justify-content: start;
  }
}

.banner{
  height: 230px;
  position: relative;
  top: 0;
  > img {
    object-fit: fill;
  }
}

.carouselOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: #0000004d;
}

.logoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  z-index: 3;
  position: relative;
  img{
    max-width: 100%;
  }
}

.carouselOverlay > h1{
  font-size: 24px;
  color: $white;
  font-family: 'Josefin Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: transparent;
}

.carouselOverlay > p{
  font-size: 14px;
  font-family: 'Josefin Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  max-width: 45ch;
  color: $white;
}

.sideMenuButton{
  width: 25px;
  height: 25px;
  overflow: hidden;
  border: none;
  background-color: transparent;
  img{
    width: 25px;
  }
}