.sortButtons{
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  > button{
    font-family: 'Josefin Sans';
    padding: 6px;
    background-color: #ffffff;
    color: #151515;
    border: 2px solid #151515;
    border-radius: 3px;
    max-width: 120px;
    height: 30px;
  }
  .active{
    background-color: #151515;
    color: #fff;
    border: none;
  }
}

.productsContainerHeader{
  font-size: 20px;
  color: #151515;
  padding-top: 20px;
  padding-left: 10px;
  text-transform: capitalize;
}

.productsContainer{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  padding-top: 20px;
  max-width: 1280px;
  margin: auto;
}

.productContainer{
  padding: 10px;
  background-color: var(--gray);
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recommendedProductContainer{
  padding: 10px;
  background-color: var(--gray);
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.recommendedProductsContainer{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.productImageContainer{
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;  
  align-items: center;
  border-radius: 5px;
}

.productContainer > p{
  padding-top: 10px;
}

.price{
  font-weight: bold;
}

.productContainer img , .recommendedProductContainer img{
  min-width: 150px;
  min-height: 150px;
  max-width: 100%;
}

.productContainer button , .recommendedProductContainer button{
  margin-top: 10px;
  font-family: 'Josefin Sans';
  padding: 6px;
  background-color: #97896e;
  color: #fff;
  border: none;
  border-radius: 3px;
  align-self: self-end;
  transition: 100ms ease;
}

.productContainer button:hover , .recommendedProductContainer button:hover{
  background-color: #887754;
}


.loadMoreButton{
  margin-top: 10px;
  font-family: 'Josefin Sans';
  padding: 6px;
  background-color: #151515;
  color: #fff;
  border: none;
  border-radius: 3px;
}

@media (max-width: 350px) {
  .recommendedProducts , .productsContainer {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px){
  .productsContainer{
    padding: 20px;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .recommendedProductsContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .recommendedProductContainer{
    width: 300px;
  }
  .recommendedProductContainer img{
    min-width: 200px;
    min-height: 200px;
  }
}

@media (min-width: 1280px){
  .productsContainer{
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .recommendedProducts .productsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 30px;
  }
}

@media (max-width: 768px){
  .productImageContainer{
    width: 150px;
    height: 200px;
  }
}
